@model ASM1_VuThienTruong.Models.Category

<h1>Category Details</h1>
<div>
    <strong>Name:</strong> @Model.Name
</div>
<div>
    <strong>Description:</strong> @Model.Description
</div>
<a asp-action="Index">Back to List</a>
